{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="th" class="h-full bg-orange-50">
    {% tailwind_css %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <title>เปลี่ยนรหัสผ่าน</title>
</head>
<body class="h-full flex items-center justify-center">

    <div class="bg-white p-10 rounded-lg shadow-lg w-full sm:max-w-md">
        <h2 class="text-center text-3xl font-bold text-black-600 mb-6">เปลี่ยนรหัสผ่าน</h2>
        
        <form method="POST" class="space-y-6">
            {% csrf_token %}
            {{ form.as_p }}
            
            <div>
                <button type="submit" class="w-full rounded-md bg-orange-600 px-4 py-2 text-lg font-semibold text-white shadow-md hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2">
                    เปลี่ยนรหัสผ่าน
                </button>
            </div>
        </form>

        <p class="mt-6 text-center text-sm text-gray-600">
            <a href="{% url 'user_dashboard' %}" class="font-semibold text-orange-600 hover:text-orange-500">กลับไปที่โปรไฟล์</a>
        </p>
    </div>

</body>
</html>
